name: test

on:
  pull_request:
    # branches:
    # - "*"
  workflow_dispatch:
  
jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
          
      - name: Cypress run in Chrome
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
        continue-on-error: true
        
      - name: Deploy report to GitHub pages
        if: github.actor != 'dependabot[bot]'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./cypress/reports/html
